<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- http 통신 api 사용 위한 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치 권한과 포그라운드 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="hl2fbfg0t9" />

        <activity
            android:name=".Rullet.RulletDialog"
            android:exported="false" />
        <activity
            android:name=".Rullet.RulletShowActivity"
            android:exported="false"
            android:parentActivityName=".Rullet.RulletActivity"/>
        <activity
            android:name=".Rullet.RulletActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".RandomdrawActivity"
            android:exported="false" />
        <activity
            android:name=".Memo.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".Personal.PersonalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Memo.MemoActivity"
            android:exported="false"
            android:parentActivityName=".Memo.MemoListActivity" />
        <activity
            android:name=".Memo.MemoListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Memo.ShowActivity"
            android:exported="false"
            android:parentActivityName=".Memo.MemoListActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".worldcup.PopupActivity"
            android:exported="false" />
        <activity
            android:name=".worldcup.WorldCupResult"
            android:exported="false" />

        <activity
            android:name=".worldcup.WorldCupReady"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".worldcup.WorldCup4"
            android:exported="false" />
        <activity
            android:name=".worldcup.WorldCup8"
            android:exported="false" />
        <activity
            android:name=".worldcup.WorldCup16"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>